<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pogmon{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <h1>Pogmon</h1>

    <div class="d-flex flex-column mb-3 ">
        <div>
            <img style="filter: brightness(0) saturate(100%);" src="https://cdn.betterttv.net/frankerfacez_emote/{{ emote.id }}/4" alt="">
        </div>
        <input type="hidden" id="answer" value="{{ emote.code }}"/>

        <label>
            Who's this pogmon?
            <input type="text" name="guess_code" id="guess">
        </label>
        <h2 id="yay"></h2>
    </div>
</div>
</body>
</html>


